name: Docker Build and Release
on: [ push ]
env:
  APP_NAME: "pet-clinic-test123"
  GITHUB_ACCESSTOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 11

      - name: Compile, build and push
        run: |
          mvn package
          docker build --tag ghcr.io/jny-gk/petclinic:latest -f Dockerfile .
          docker login --username jny-gk --password $GITHUB_ACCESSTOKEN ghcr.io
          docker push ghcr.io/jny-gk/petclinic:latest